<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base_style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="home-page"><a href="/">Home page</a></div>
    
    <div class="users-ref"><a href="/users">List of registered users</a></div>
    
    <div class="posts-ref"><a href="/posts">All posts</a></div>
</body>