body {
    font-family: Verdana;
    margin: 10px;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.home-page a {
    display: block;
    text-decoration: none; /* Убираем подчеркивание */
    padding: 6px 10px; /* Внутренние отступы для удобства клика */
    border: 1px solid #007BFF; /* Обводка для видимости */
    color: #007BFF; /* Цвет текста */
    border-radius: 20px; /* Закругление углов */
    transition: background 0.3s; /* Плавный переход для фона */
    margin: 0 5px; /* Расстояние между страницами */
}

